<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Jane Austen</h3>
      <p>Ah! No hay nada como quedarse en casa, para una verdadera comodidad.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Lao Tse</h3>
      <p>Un camino de mil millas comienza con un primer paso.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Kate Millet</h3>
      <p>El amor ha sido el opio de las mujeres, como la religión el de las masas. Mientras nosotras amábamos, los
        hombres gobernaban.</p>
    </div>
  </ng-template>
</ngb-carousel>
