
<header>
  <div class="overlay"></div>
  <mat-card *ngIf="readyToNavigate">
    <mat-card-content>
      Ya podés disfrutar de WIFI!
    </mat-card-content>
    <a href="https://www.google.com" class="stretched-link">Ir a google</a>
  </mat-card>
</header>
<main>
  <div>
    <div class="container text center pt-4">
      <div class="row">
        <div class="col-4">
          <img src="assets/images/image_4.webp" class="img-fluid">
        </div>
        <div class="col-4">
          <img src="assets/images/image_5.webp" class="img-fluid">
        </div>
        <div class="col-4">
          <img src="assets/images/couch.webp" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="container text center pt-4">
      <div class="row py-5">
        <div class="col-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
            blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
            senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
            turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
            Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
            donec et odio pellentesque diam.
          </p>
        </div>
        <div class="col-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
            blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
            senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
            turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
            Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
            donec et odio pellentesque diam.
          </p>
        </div>
        <div class="col-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
            blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
            senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
            turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
            Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
            donec et odio pellentesque diam.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="parallax">
        <div class="row">

        </div>
      </div>
    </div>

  </div>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3"></h1>
      </div>
    </div>
  </div>
</main>
