
<header>
  <div class="overlay"></div>
  <mat-card *ngIf="readyToNavigate">
    <mat-card-content>
      Ya podés disfrutar de WIFI!
    </mat-card-content>
    <a href="https://www.google.com" class="stretched-link">Ir a google</a>
  </mat-card>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/images/draft-san-martin.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3"></h1>
      </div>
    </div>
  </div>
</header>
