<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type">

    <div *ngSwitchCase="'rating'">
      <ngb-rating [id]="question.key" [max]="question.maximum"
                  [formControlName]="question.key" [(rate)]="currentRate"></ngb-rating>
      <pre>Rate: <b>{{currentRate}}</b></pre>
    </div>
    <div *ngSwitchCase="'radio'">
      <div *ngFor="let opt of question.options">
        <input [type]="'radio'"
               [id]="question.key"
               [name]="question.key"
               [value]="opt.key"
               [formControlName]="question.key"> {{opt.key}}
      </div>
    </div>
    <div *ngSwitchCase="'checkbox'">
      <div *ngFor="let opt of question.options">
        <input [type]="'checkbox'"
               [id]="question.key"
               [name]="question.key"
               [value]="opt.key"
               [formControlName]="question.key"> {{opt.key}}
      </div>
    </div>
    <div *ngSwitchCase="'selector'" >
      <ngb-tabset  *ngFor="let opt of question.options">
        <ngb-tab [title]="opt.key">
          <ng-template ngbTabContent>
            <p>{{opt.value}}</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
