
div.main-container {
  background-size: contain;
  height: 100vh;
}
#main-tile{
  position: relative;
  display: contents;
}

.mat-grid-list {
  position: inherit;
}

::ng-deep #main-tile .mat-figure{
  position: relative;
}
