<div class="container text center pt-4">
  <div class="row content text center">
    <div class="col-12 carousel">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<div class="container text center pt-4 auth">
  <div class="rowlead" *ngIf="isLoggedIn$ | async">
    <app-social-login *ngIf="socialLogin" [authConfig]="config"></app-social-login>
    <app-survey [questions]="questions" *ngIf="!socialLogin"></app-survey>
  </div>
</div>

<div class="container text center pt-4">
  <div class="row">
    <div class="col-4">
      <img src="assets/images/trendy_1.jpeg" class="img-fluid">
    </div>
    <div class="col-4">
      <img src="assets/images/kids_2.jpeg" class="img-fluid">
    </div>
    <div class="col-4">
      <img src="assets/images/colchon_5.jpeg" class="img-fluid">
    </div>
  </div>
</div>

<div class="container text center pt-4">
  <div class="row py-5">
    <div class="col-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
        blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
        senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
        turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
        Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
        donec et odio pellentesque diam.
      </p>
    </div>
    <div class="col-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
        blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
        senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
        turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
        Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
        donec et odio pellentesque diam.
      </p>
    </div>
    <div class="col-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Duis at consectetur lorem donec massa. Non consectetur a erat nam at lectus urna duis. Quis
        blandit turpis cursus in hac. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tristique
        senectus et netus et malesuada fames ac turpis. Dolor morbi non arcu risus quis varius quam quisque. Fames ac
        turpis egestas maecenas pharetra convallis posuere morbi. Sed augue lacus viverra vitae congue eu consequat ac.
        Curabitur vitae nunc sed velit dignissim. At lectus urna duis convallis convallis tellus id. Consequat ac felis
        donec et odio pellentesque diam.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="parallax">
    <div class="row">

    </div>
  </div>
</div>
