<div class="container text center pt-4">
  <div class="row content text center">
    <div class="col-12 carousel">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{portalClient}}
    </mat-card-title>
    <mat-card-subtitle>
      Si desea comenzar a navegar, <p> elija algún tipo de autenticación a continuación
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="loginEntities.google.activated"
      mat-icon-button
      (click)="loginWith('google')">
      <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button
      *ngIf="loginEntities.facebook.activated"
      mat-icon-button
      color="{{loginEntities.facebook.color}}"
      (click)="loginWith('facebook')" >
      <mat-icon svgIcon="fb"></mat-icon>
    </button>
    <button
      *ngIf="loginEntities.instagram.activated"
      mat-icon-button
      color="{{loginEntities.instagram.color}}"
      (click)="loginWith('instagram')" >
      <mat-icon svgIcon="instagram"></mat-icon>
    </button>
    <button
      *ngIf="loginEntities.pinterest.activated"
      mat-icon-button color="{{loginEntities.pinterest.color}}"
      (click)="loginWith('pinterest')" >
      <mat-icon svgIcon="pinterest"></mat-icon>
    </button>
    <button
      *ngIf="loginEntities.twitter.activated"
      mat-icon-button
      color="{{loginEntities.twitter.color}}"
      (click)="loginWith('twitter')" >
      <mat-icon svgIcon="twitter"></mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialUnchecked">
        <label class="form-check-label" for="materialUnchecked">He leído y acepto los
          <a href="https://www.google.com" >términos y condiciones de
            uso</a>
        </label>
      </div>
  </mat-card-footer>
</mat-card>
