<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{portalClient}}
    </mat-card-title>
    <mat-card-subtitle>
      Si desea comenzar a navegar, <p> elija algún tipo de autenticación a continuación
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <button *ngIf="loginEntities.google.activated"
            mat-raised-button
            color="{{loginEntities.google.color}}"
            (click)="loginWith('google')" >
      Sign in with <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button *ngIf="loginEntities.facebook.activated"
            mat-raised-button
            color="{{loginEntities.facebook.color}}"
            (click)="loginWith('facebook')" >
      Sign in with <mat-icon svgIcon="fb"></mat-icon>
    </button>
    <button *ngIf="loginEntities.instagram.activated"
            mat-raised-button
            color="{{loginEntities.instagram.color}}"
            (click)="loginWith('instagram')" >
      Sign in with <mat-icon svgIcon="instagram"></mat-icon>
    </button>
    <button *ngIf="loginEntities.pinterest.activated"
            mat-raised-button color="{{loginEntities.pinterest.color}}"
            (click)="loginWith('pinterest')" >
      Sign in with <mat-icon svgIcon="pinterest"></mat-icon>
    </button>
    <button *ngIf="loginEntities.twitter.activated"
            mat-raised-button
            color="{{loginEntities.twitter.color}}"
            (click)="loginWith('twitter')" >
      Sign in with <mat-icon svgIcon="twitter"></mat-icon>
    </button>
   <button mat-raised-button
            color="accent"
            (click)="logout()" >
       Logout
    </button>

  </mat-card-actions>

</mat-card>
