<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{portalClient}}
    </mat-card-title>
    <mat-card-subtitle>
      Si desea comenzar a navegar, <p> elija algún tipo de autenticación a continuación
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="googleLogin()" class="btn-google">
      Sign in with <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="facebookLogin()" class="btn-facebook">
      Sign in with <mat-icon svgIcon="fb"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="facebookLogin()" class="btn-facebook">
      Sign in with <mat-icon svgIcon="instagram"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="facebookLogin()" class="btn-facebook">
      Sign in with <mat-icon svgIcon="pinterest"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="facebookLogin()" class="btn-facebook">
      Sign in with <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="logout()" class="btn-facebook">
       Forget me
    </button>

  </mat-card-actions>
</mat-card>
